<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
    <title>Проект map</title>
</head>

<body>
    <div id="map" class="map"></div>
    <script type="text/html" id="customClustererItemLayout">
        <a href='#' style="display: block; margin-bottom: 20px;" data-role="clusterer-link" data-coords="{{ geoObject.properties.coords }}">
          {{ properties.address|raw }}
        </a>
        {% for comment in properties.comments %}
          <div>
            <strong>{{ comment.name }}</strong>
            <span>{{ comment.place }}</span>
          </div>
        {% endfor %}
      </script>
    <script type="text/html" id="customBalloonTemplate">
        <div class="popover">
          <div class="arrow" style="position: absolute; left: 50%; transform: translateX(-50%); width: 40px;bottom: 0; height: 40px;"></div>
            $[[options.contentLayout observeSize minWidth=235 maxWidth=235 maxHeight=350]]
            <div class="popover__header">
              <div class="popover__col">
                <i class="fas fa-map-marker-alt"></i>
                {% if properties.address %}
                  <div class="popover__address">$[properties.address]</div>
                {% else %}
                  <div class="popover__address">$[address]</div>
                {% endif %}
              </div>
              <button type="button" data-role="review-close" class="fas fa-times close"></button>
            </div>
            <div class="popover__content">
              <div class="comments">
                <div class="comments__inner" data-role="review-comments">
                  {% if comments.length %}
                    {% for comment in comments %}
                      <div>
                        <div class="comments__comment">
                          <div>
                            <strong>{{ comment.name }}</strong>
                            <span>{{ comment.place }}</span>
                          </div>
                          <small>{{ comment.date }}</small>
                        </div>
                        <div>{{ comment.text }}</div>
                      </div>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
  
              <form class="form" data-role="review-form">
                <div class="form__title">ВАШ ОТЗЫВ</div>
                <input type="text" class="form__input" data-role="review-name" placeholder="Ваше имя" />
                <input type="text" class="form__input" data-role="review-place" placeholder="Укажите место"/>
                <div class="form__message-wrapper">
                  <textarea class="form__message" data-role="review-text" placeholder="Поделитесь впечатлениями"></textarea>
                </div>
                <button type="submit" class="form__button" data-role="review-submit" data-coords="$[coords]">Добавить</button>
              </form>
          </div>
        </div>
      </script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=2ec8df4f-2917-410c-b5dd-b98c9e27d140&lang=ru_RU"
        type="text/javascript"></script>
      <script src="./src/main.js"></script>
</body>

</html>